# Virtual Environments
myenv/
# dependencies
node_modules/
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# python
.venv/
venv/
env/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Web / Node
node_modules/
.next/
.env.local
.env*.local

# Reports, Images & CSV Outputs
*.png
*.jpg
*.jpeg
*.csv

# Paddle / Model cache
.paddlex/
official_models/

# OS / IDE artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db
